.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.column {
  float: left;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}

.floor {
  padding: 10px;
  height: 30px;
}

.floorNumber {
  float: left;
  width: 25px;
}
